
@use "../foundation/breakpoints" as *;
@use "../foundation/mixins" as *;


html{
	&::-webkit-scrollbar{
		display: none;
	}
}
		.container {
			@include maxWid;
			padding: 30px;
			background-color: #EDF2F7;
			}
			.tab-list {
			display: flex;
			li {
				width: 100px;
				border-left: none;
				border-bottom: none;
				font-size: 20px;
				text-align: center;
				padding: 10px;
				color: #333;
				transition: 0.2s ease;
				cursor: pointer;
				&:first-child {
				border-left: 1px solid #333;
				}
				&:hover {
				background: #3EA8FC;
				color: #fff;
				}
				&.active {
				background: #3EA8FC;
				color: #fff;
				}
			}
			}
			.tab-container {
			padding: 20px;
			line-height: 2;
			.tab-content {
				display: none;
				&.active {
				display: block;
				}

			}
		}
	pre{
		overflow-x: scroll;
		overflow-y: hidden;
		direction: ltr;
		position: relative;
	}
	code{
		display: table;
		background-color: rgba(174, 167, 165, 0.1);
		width: 100%;
		padding: 20px;
		font-family: initial;
		font-size: 14px;
		line-height: 1.625;
		button{
			width: 150px;
			background-color: #3EA8FC;
			color: #fff;
			font-weight: bold;
			text-align: center;
			padding: 15px 0;
			position: absolute;
			right: 20px;
			top: 55px;
			border: none;
		}
	}

	.toggle_title {
		font-weight: bold;
		line-height: 42px;
		margin: 0;
		padding: 0 0 0 10px;
		position: relative;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			color: #fd7e00;
		}
		&::after{
			content: "";
			display: inline-block;
			width: 28px;
			height: 28px;
			background:url(btn_arrow.png) no-repeat right top;
			position:absolute;
			top: 50%;
			right: 7px;
			transform: translateY(-50%);
			transition: 0.2s;
		}
	}

	.toggle_contents{
		margin-top: 30px;
		background-color: #fff;
		border-radius: 20px;
		padding: 20px;
	}
	.toggle_title.selected:after {
		transform: translateY(-50%) rotate(180deg);
		transition: 0.2s;
	}
	.toggle_txt {
		display: none;
	}
